/*******
  ____            _           _____                 _
 |  _ \    ___   | |  _   _  |_   _|   __ _   ___  | | __
 | |_) |  / _ \  | | | | | |   | |    / _` | / __| | |/ /
 |  __/  | (_) | | | | |_| |   | |   | (_| | \__ \ |   <
 |_|      \___/  |_|  \__, |   |_|    \__,_| |___/ |_|\_\
                      |___/

Copyright 2017 Colin Siles

style.css

PolyTask Pre-Alpha Phase

********/

body {
    font-family: Trebuchet MS;
    font-size:23px;
    margin:0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html {
    height:100%;
}

/*
Define the color pallete of the application
*/

.primary-green {
    background-color: #0eb734;
}

.secondary-green {
    background-color: #84df98;
}

.primary-purple {
    background-color: #7913a1;
}

.secondary-purple {
    background-color: #bc81d3;
}

.primary-blue {
    background-color: #0f8095
}

.secondary-blue {
    background-color: #7bc0cc;
}

.primary-orange {
    background-color: #f28013;
}

.secondary-orange {
    background-color:#ffca97;
}

#navbar {
    position:fixed;
    bottom:0;
    width:100%;
    height:125px;
    background:#f2f2f2;
    border-top:thin solid black;
    z-index: 1;
    color:white;
}

#page-wrapper {
    overflow-y: auto;
}

.navbutton {
    position:relative;
    width:25%;
    height:100%;
    float:left;
    text-align:center;
    display:inline-block;
    color:grey;
}

.navbutton-active {
    color:#e32636;
}

.icontext {
    position:absolute;
    bottom:10px;
    left:0;
    float:left;
    width:100%;
    font-size: 30px;
}

.icon {
    font-size:50px;
    position:absolute;
    width:100%;
    height:80%;
    left:0;
    top:20%;
}

.title-wrapper {
    position:fixed;
    text-align:left;
    padding: 10px 50px;
    font-size:44px;
    background:#f22613;
    color:white;
    top: 0;
    vertical-align: top;
    width:100%;
    z-index:2;
}

.title-wrapper h1 {
    margin:0;
}

.dashboard-box {
    margin:3%;
    border-radius:25px;
    width:94%;
    min-height:100px;
    background:#f2f2f2;
    overflow:hidden;
}

.dashboard-box-title {
    padding:20px;
    margin:0;
    position:relative;
    color:white
}

.dashboard-task {
    font-size:44px;
    margin:0;
    font-weight:bold;
}

.unordered-task {
    padding:15px 80px;
}

.ordered-task {
    padding: 15px 0;
}

.dashboard-list {
    font-size:44px;
    padding:10px 80px;
    margin:0;
}

.project-container {
    height: 210px;
}

.day-counter {
    height:100%;
    display:inline-block;
    text-align:center;
    left:0;
    width:20%;
    margin:0;
}

.day-counter-number {
    font-size:128px;
    margin:0 20px;
}

.day-counter-label {
    margin:0 30px;
}

.project-description {
    height:100%;
    margin-left:-7px;
    background:#84DF98;
    width:80%;
    vertical-align:top;
    display:inline-block;
}

.project-name {
    font-size:72px;
    margin:20px;
}

.project-info {
    font-size:44px;
    margin:0 40px;
}

.lower-buffer {
    width:100%;
    height:125px;
}

.upper-buffer {
    width:100%;
    height:125px;
}

.input {
    width:80%;
    height:100px;
    margin-left:10%;
    font-size:44px;
    font-family: Trebuchet MS;
}

.title-input {
    width: 70%;
    margin:5% 0 0 15%;
    font-size:44px;
    font-family:Trebuchet MS;
    text-align: center;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    outline:none;
}

.title-input:focus {
    border-bottom: solid 3px #969696;
}

.overlay-backdrop {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    -webkit-animation-name: fadein;/*animate backdrop*/
    -webkit-animation-duration: 0.4s;
    animation-name: fadein;
    animation-duration: 0.4s
}

.overlay-content {
    background-color: white;
    position:fixed;
    width:80%;
    height:80%;
    left:10%;
    top: 8%;
    -webkit-animation-name: animatetop;/*animate backdrop*/
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.overlay-title {
    position:relative;
    text-align:center;
    padding: 10px 50px;
    font-size:44px;
    background:#f22613;
    color:white;
    top: 0;
    vertical-align: top;
}

.overlay-title h1 {
    margin: 0px;
}

.confirmation-wrapper {
    width:100%;
    text-align:center;
    margin:0;
    position:absolute;
    bottom:0;
}

.button {
    font-size: 44px;
    font-family: Trebuchet MS;
    height: 125px;
    width: 50%;
    margin: -3px;
    text-align: center;
    border: none;
}

.confirm {
    background-color:#84df98;
}

.cancel {
    background-color:#FF6555;
}

/*
Prevent font from rendering larger than intended on iPhone
*/

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}

/*animations*/

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 8%; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 8%; opacity: 1}
}



/* Palette URL: http://paletton.com/#uid=72Y0u0kw0XqdBXGntXnViMFPMoD*/
/* New Palette URL: http://paletton.com/#uid=7040u0ktvund2KvlpxqvXm5IGdJ*/