/*******
  ____            _           _____                 _
 |  _ \    ___   | |  _   _  |_   _|   __ _   ___  | | __
 | |_) |  / _ \  | | | | | |   | |    / _` | / __| | |/ /
 |  __/  | (_) | | | | |_| |   | |   | (_| | \__ \ |   <
 |_|      \___/  |_|  \__, |   |_|    \__,_| |___/ |_|\_\
                      |___/

Copyright 2017 Colin Siles

style.css

PolyTask Pre-Alpha Phase

********/

body {
  font-family: Trebuchet MS;
  font-size:23px;
  margin:0;
  -moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
}

html {
    height:100%;
}

/*
Define the color pallete of the application
*/

.primary-green {
    background-color: #0eb734;
}

.secondary-green {
    background-color: #84df98;
}

.primary-purple {
    background-color: #7913a1;
}

.secondary-purple {
    background-color: #bc81d3;
}

#navbar {
    position:fixed;
    bottom:0px;
    width:100%;
    height:125px;
    background:#f2f2f2;
    border-top:thin solid black;
    z-index: 1;
}

#page-wrapper {
    overflow-y: auto;
    
}

.navbutton {
    position:relative;
    width:25%;
    height:100%;
    float:left;
    text-align:center;
    display:inline-block;
    color:grey;
}

.icontext {
    position:absolute;
    bottom:10px;
    left:0;
    float:left;
    width:100%;
    font-size: 30px;
}

.icon {
    font-size:50px;
    position:absolute;
    width:100%;
    height:80%;
    left:0;
    top:20%;
}

.title-wrapper {
    text-align:left;
    padding: 10px 50px;
    font-size:44px;
    background:#f22613;
    color:white;
    top: 0;
    position:fixed;
    width:100%;
    z-index:1;
}

.title-wrapper h1 {
    margin:0;
}

.dashboard-box {
    margin:3%;
    border-radius:25px;
    width:94%;
    min-height:100px;
    background:#f2f2f2;
    overflow:hidden;
}

.dashboard-box-title {
    padding:20px;
    margin:0;
    position:relative;
    color:white
}

.project-container {
    height: 210px;
}

.day-counter {
    height:100%;
    display:inline-block;
    text-align:center;
    left:0;
    width:20%;
    margin:0;
}

.day-counter-number {
    font-size:128px;
    margin:0 20px;
}

.day-counter-label {
    margin:0 30px;
}

.project-description {
    height:100%;
    margin-left:-7px;
    background:#84DF98;
    width:80%;
    vertical-align:top;
    display:inline-block;
}

.project-name {
    font-size:72px;
    margin:20px;
}

.project-info {
    font-size:44px;
    margin:0 40px;
}

.buffer {
    width:100%;
    height:125px;
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}

/*
Prevent font from rendering larger than intended on iPhone
*/



/* Palette URL: http://paletton.com/#uid=72Y0u0kw0XqdBXGntXnViMFPMoD*/
/* New Palette URL: http://paletton.com/#uid=7040u0ktvund2KvlpxqvXm5IGdJ*/